body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --light-color: #E8E2E2;
  --secondary-color: #E8D2AE;
  --third-color: #D7B29D;
  --fourth-color: #CB8589;
  --dark-color: #796465;
}
.flex{
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.align-center{
  align-content: center;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}